$primary-color: #64629d;
$bgc-main-color: #edecfc;
$font-color: #000;
$font-family: "Noto Sans JP", serif, sans-serif;

// マップ型変数breakpointsを定義
$breakpoints: (
  //キー　値
  "sm": "screen and (max-width: 767px)",
  "md": "screen and (max-width:1279px)",
  "lg": "screen and (min-width:1280px)"
) !default;

// メディアクエリ用のmixinを定義。デフォ値はmd
@mixin mq($breakpoint: md) {
  // map-get(マップ型変数、キー)で値を取得
  @media #{map-get($breakpoints, $breakpoint)} {
    // この中をカスタムする
    @content;
  }
}

// common
html {
  font-size: 62.5%;
  font-weight: normal;
}

body {
  box-sizing: border-box;
}

img {
  width: 100%;
}

a {
  display: inline-block;
  text-decoration: none;
  color: $font-color;
}

.is-pc {
  @include mq(sm) {
    display: none;
  }
}
.dw-sm {
  @media screen and (min-width: 769px) {
    display: none;
  }
}
.is-sm {
  @include mq(lg) {
    display: none;
  }
}

// CTA
.cta {
  font-size: 2.4rem;
  padding: 23px 53px;
  max-width: 400px;
  border-radius: 50px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.24);
  @include mq(sm){
    font-size: 1.8rem;
    padding: 18px 42px;
  }
}

.nm-hover {
  &:hover {
    transition: all ease-out 0.1s;
    transform: translateY(-5px);
  }
}

.cta-basis {
  background-color: $primary-color;
  color: #fff;
}

.cta-white {
  background-color: #fff;
  color: #000;
}



// section
.section {
  padding: 100px 40px;
  @include mq(sm) {
    padding: 80px 20px;
  }
}

.section__subtitle {
  color: #9f9ec1;
  font-weight: 700;
  font-size: 3.6rem;
  text-align: center;
  @include mq(md) {
    font-size: 2.8rem;
  }
  @include mq(sm) {
    font-size: 2.4rem;
  }
}

.section__title {
  color: #64629d;
  font-weight: 700;
  font-size: 4.8rem;
  text-align: center;
  margin-top: 18px;
  @include mq(md) {
    font-size: 4.2rem;
  }
  @include mq(sm) {
    font-size: 3rem;
    margin-top: 12px;
  }
}

// main

// inner
.inner {
  max-width: 1187px;
  padding: 0 20px;
  margin: 0 auto;
  @include mq(sm) {
    padding: 12px 20px;
  }
}

// header
.header {
  width: 100%;
  padding: 12px 0;
  position: fixed;
  z-index: 10;
  top: 0;
  background-color: #fff;
}

.header-logo {
  width: 83px;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.header__items {
  display: flex;
  align-items: center;
  @include mq(sm) {
    display: none;
  }
}

.header__item {
  text-align: center;
  & + & {
    margin-left: 16px;
  }
  .cta {
    font-size: 1.6rem;
    width: 180px;
    padding: 12px 0;
  }
}

.c-button {
  position: relative;
  display: none;
  text-decoration: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 6px;
  @include mq(sm) {
    display: inline-block;
  }
}

.p-hamburger {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 48px;
  height: 48px;
  margin: auto;
  box-shadow: 0 0 2rem transparent;
  outline: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.p-hamburger:hover,
.p-hamburger:focus {
  box-shadow: 0 0 0.5rem rgba(255, 255, 255, 0.5);
}

.button__text {
  font-size: 6px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.p-hamburger__line {
  position: absolute;
  bottom: 25px;
  left: 13px;
  margin: auto;
  width: 13.2px;
  height: 2px;
  background-color: $primary-color;
  -webkit-transition: inherit;
  transition: inherit;
}
.p-hamburger__line::before,
.p-hamburger__line::after {
  position: absolute;
  display: block;
  width: 19px;
  height: 100%;
  background-color: inherit;
  content: "";
  -webkit-transition: inherit;
  transition: inherit;
}
.p-hamburger__line::before {
  top: -5px;
}
.p-hamburger__line::after {
  top: 5px;
}

.p-hamburger[aria-expanded="true"] .p-hamburger__line {
  background-color: transparent;
}

.p-hamburger[aria-expanded="true"] .p-hamburger__line::before,
.p-hamburger[aria-expanded="true"] .p-hamburger__line::after {
  top: 0;
  background-color: $primary-color;
}

.p-hamburger[aria-expanded="true"] .p-hamburger__line::before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.p-hamburger[aria-expanded="true"] .p-hamburger__line::after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

// drawer
.drawer {
  background-color: #edecfc;
  padding-top: 82px;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 71.55px;
  z-index: 10;
  display: none;
}

.active {
  display: block;
}

.drawer__items {
  margin-bottom: 38px;
}

.drawer__item {
  margin-left: 64px;
  font-size: 2.4rem;
  & + & {
    margin-top: 40px;
  }
}

.drawer__box {
  display: inline-block;
  width: 14.14px;
  height: 14.14px;
  border: 1px solid $primary-color;
  transform: rotate(-45deg);
  margin-right: 12.72px;
}

.drawer__cta-wrapper {
  text-align: center;
  margin-top: 24px;
  .cta-white {
    color: $primary-color;
    border: 2px solid $primary-color;
  }
}

.drawer__cta {
  width: 216px;
  font-size: 1.8rem;
  padding: 18px 40px 22px;
}

// top
.top {
  background-color: #edecfc;
  margin-top: 64px;
}

.top__inner {
  position: relative;
  padding: 117px 40px 113px;
  background: right 20% / 45% no-repeat url(../images/At-work-amico-1.png);
  @include mq(md) {
    background-size: 40%;
    background-position: right 20%;
  }
  @include mq(sm) {
    padding: 60px 20px;
    @media  screen and (min-width:560px) {
      background-size: 480px;
    }
    background-size: 81.333%;
    background-position: 50%;
  }
}

.top__title {
  font-size: 6rem;
  line-height: 1.47em;
  font-weight: bold;
  @include mq(md) {
    font-size: 4.8rem;
  }
  @include mq(sm) {
    font-size: 3rem;
    line-height: 1.6em;
  }
}

.top__text {
  font-size: 1.8rem;
  line-height: 1.77em;
  margin-top: 24px;
  @include mq(md) {
    font-size: 1.6rem;
  }
  @include mq(sm) {
    margin-bottom: 300px;
    margin-top: 16px;
  }
}

.top__footer {
  margin-top: 33px;
  .cta-white {
    color: $primary-color;
    border: 1px solid $primary-color;
  }
}

.top__cta {
  width: 250px;
  font-size: 1.8rem;
  padding: 18px 0;
  text-align: center;

  @include mq(sm) {
    display: block;
    margin: 0 auto;
  }
  & + & {
    margin-left: 37px;
    @include mq(sm) {
      margin: 32px auto 0;
    }
  }
}

// about
.about {
  text-align: center;
}

.about__contents {
  font-weight: normal;
  margin-top: 29px;
}

.about__text {
  font-size: 1.8rem;
  line-height: 2em;
  strong {
    font-weight: 700;
  }
  & + & {
    margin-top: 40px;
  }

  @include mq(sm) {
    font-size: 1.6rem;
  }
}

.about__cta {
  margin-top: 40px;
}

// Feature
.feature {
  background-color: #f9f9f9;
  padding-left: 0;
  padding-right: 0;
  .inner{
    @include mq(sm){
      padding: 0;
    }
  }
}

.feature__title {
  margin-bottom: 256px;
}

.feature__item {
  position: relative;
  &:nth-child(2) {
    margin-top: 153px;
    .feature__contents {
      margin-left: auto;
    }
    @include mq(sm){
      margin-top: 400px;
    }
  }
  &:nth-child(3) {
    margin-top: 338px;
    @include mq(sm){
      margin-top: 400px;
    }
  }
  @include mq(sm){
    margin-top: 400px;
  }
}

.feature__img-wrapper {
  position: absolute;
  width: 43.808%;
  @include mq(md){
    width: 33.33%;
  }
  @include mq(sm){
    width: 280px;
  }
}

.feature__img-right {
  right: 0;
  bottom: 0;
  @include mq(md){
    right: 10%;
    bottom: 30%;
  }
  @include mq(sm){
    right: 0;
    left: 15%;
    bottom: 230px;
  }
}

.feature__img-left {
  left: 0;
  top: 0;
  @include mq(md){
    left: 10%;
    top:30%;
  }
  @include mq(sm){
    top: auto;
    left: 10%;
    bottom:250px;
  }
}

.feature__contents {
  width: 64.69%;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 30px;
  display: flex;
  padding: 65px 40px;
  @include mq(sm){
    display: block;
    width: 100%;
    padding: 40px 0 40px 20px;
  }
}

.feature__content {
  margin-left: 6px;
}

.feature__num {
  font-size: 7.2rem;
  color: $primary-color;
  font-weight: 700;
  @include mq(md){
    font-size: 4.2rem;
  }
  @include mq(sm){
    font-size: 4.2rem;
  }
}

.feature__content-title {
  font-size: 3.6rem;
  font-weight: 700;
  color: #2d2d2d;
  line-height: 1.4481em;
  @include mq(md){
    font-size: 2.2rem;
  }
  @include mq(sm){
    font-size: 2.2rem;
  }
}

.feature__text {
  color: #2d2d2d;
  font-size: 1.6rem;
  line-height: 1.8em;
  margin-top: 17px;
  max-width: 470px;
  @include mq(sm){
    font-size: 1.4rem;
  }
}

// sales
.sales {
  background-color: #2d2d2d;
  color: #fff;
  text-align: center;
  padding: 60px 0;
  @include mq(sm){
    padding: 40px 0;
  }
}

.sales__text {
  font-size: 3.6rem;
  line-height: 1.4444em;
  margin-bottom: 32px;
  @include mq(sm){
    font-size: 1.8rem;
    margin-bottom: 24px;
  }
}

// users
.users__inner {
  max-width: 932px;
  margin: 0 auto;
}
.section__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 10px;
}
.section__item {
  width: 24.893%;
  margin-top: 50px;
}

// flow
.flow {
  background-color: #f9f9f9;
}
.flow__inner {
  max-width: 1030px;
  margin: 0 auto;
}

.flow__items {
  display: flex;
  justify-content: space-between;
  margin-top: 55px;
  @include mq(sm){
    display: block;
  }
}

.flow__item {
  width: 27.184%;
  @include mq(sm){
    width: 100%;
    margin-top: 84px;
  }
}

.flow__polygon {
  margin-top: 8.798%;
  @include mq(sm){
    display: none;
  }
}

.item__head {
  position: relative;
  background-color: #edecfc;
  border-radius: 30px;
}

.item__num {
  position: absolute;
  font-size: 4.8rem;
  font-weight: 700;
  color: $primary-color;
  top: -8%;
  left: -5%;
}

.item__body-title {
  font-size: 2.4rem;
  font-weight: 700;
  margin-top: 16px;
  text-align: center;
  @include mq(sm){
    font-size: 2rem;
  }
}

.item__body-text {
  font-size: 1.6rem;
  line-height: 1.75em;
  margin-top: 8px;
}

// price
.price__inner {
  max-width: 1020px;
  margin: 0 auto;
  overflow-x: scroll;
  white-space: nowrap;
  position: relative;
}

.price__contents {
  display: block;
  padding-top: 300px;
  margin-top: 68px;
  width: 1020px;
}

.price__plans {
  display: flex;
  align-items: flex-end;
  position: absolute;
  width: 780px;
  left: 240px;
  right: 0;
  bottom: 500px;
  height:286px;
  @include mq(sm){
    width: 732px;
    left: 151px;
    bottom: 435px;
  }
}

.price__plan {
  color: #fff;
  width:33.333%;
  height: 270px;
  background-color: #2d2d2d;
  text-align: center;
  padding: 6.0256% 1.6667% 5.2564%;
  box-sizing: border-box;
  @include mq(sm){
    width: 180px;
    height: 200px;
    padding: 28px 7px;
  }
  
  &:nth-child(2) {  
    height: 286px;
    background-color: $primary-color;
    padding: 6.4103% 1.6667% 5.2564%;
    @include mq(sm){
      padding: 60px 7px 28px;
      width: 216px;
      height: 232px;
    }
  }
}

.price__cta {
  border: 2px solid #2d2d2d;
  color: #2d2d2d;
  font-size: 1.8rem;
  padding: 6.1538% 17.308%;
  line-height: 1em;
  background-color: #fff;
  box-shadow: 0 0 0;
  margin-top: 28px;
  &:hover {
    border: 2px solid #fff;
    background-color: #2d2d2d;
    color: #fff;
  }
  @media screen and (max-width:1000px ) and (min-width:768px){
    font-size: 1.6rem;
  }
  @include mq(sm){
    font-size: 1.6rem;
    margin-top: 19px;
    padding: 13px 18px;
  }
}
.price__cta-basic {
  border: 2px solid #fff;
  background-color: $primary-color;
  color: #fff;
  &:hover {
    color: $primary-color;
    background-color: #fff;
    border: 2px solid $primary-color;
  }
}

.price__title {
  font-size: 2.4rem;
  font-weight: 700;
  @include mq(sm){
    font-size: 2rem;
  }
}
.price__fee {
  font-size: 1.8rem;
  margin-top: 17px;
  @include mq(sm){
    font-size: 1.2rem;
    margin-top: 11px;
  }
  span {
    font-size: 2.4rem;
    @include mq(sm){
      font-size: 2rem;
    }
  }
  .cta {
    margin-top: 28px;
  }
}
.basic {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.6);
  .price {
    font-size: 2.4rem;
    span {
      font-size: 3.6rem;
    }
  }
}

.price__item {
  width: 1020px;
  &:nth-of-type(2n + 1) {
    background-color: #edecfc;
  }

  th {
    font-size: 2.2rem;
    width: 240px;
    text-align: left;
    padding: 19px 0 19px 32px;
    @include mq(sm){
      font-size: 1.5rem;
      width: 151px;
    }
  }
  td {
    font-size: 1.8rem;
    text-align: left;
    width: 260px;
    text-align: center;
    &:nth-child(3) {
      font-weight: bold;
    }
    @include mq(sm){
      font-size: 1.5rem;
      width: 180px;
    }
  }
}

// Question
.question {
  background-color: #f9f9f9;
}

.accordion {
  max-width: 920px;
  margin: 0 auto;
  margin-top: 60px;
}

.accordion__question {
  display: flex;
  background-color: $primary-color;
  font-size: 1.8rem;
  font-weight: 700;
  color: #fff;
  padding: 20px 24px 20px;
  line-height: 1.8em;
  border-radius: 10px;
  p {
    font-size: 2.2rem;
    margin-right: 15px;
    @include mq(sm){
      margin-right: 10.9px;
    }
  }
  @include mq(sm){
    font-size: 1.6rem;
    padding: 10px 10px 8px 15px;
  }
}

.accordion__answer {
  display: flex;
  margin-top: 14px;
  margin-bottom: 24px;
  background-color: #fff;
  border-radius: 10px;
  font-size: 1.8rem;
  padding: 21px 25px 22px;
  line-height: 1.8em;

  p {
    font-size: 2.2rem;
    margin-right: 16px;
  }
  @include mq(sm){
    font-size: 1.6rem;
    padding: 12px 16px 12px 15px;
  }
}

// footer
.footer {
  background-color: #000;
  color: #fff;
  padding: 27px 40px;
  .inner {
    position: relative;
  }
  @include mq(sm){
    text-align: center;
  }
}

.sns {
  position: absolute;
  right: 0;
  @include mq(sm){
    position: static;
  }
}

.sns__share {
  font-size: 1.8rem;
}

.sns__icon-wrapper {
  margin-top: 12px;
}

.sns__icon {
  width: 24px;
  & + & {
    margin-left: 18px;
  }
}

.footer__logo {
  width: 69px;
  @include mq(sm){
    margin: 0 auto;
    margin-top: 32px;
  }
}

.footer__nav {
  display: flex;
  font-size: 1.4rem;
  margin-top: 19px;
  @include mq(sm){
    display: block;
    margin-top: 14px;
  }
}

.nav__item {
  & + & {
    margin-left: 14px;
    @include mq(sm){
      margin-left: 0;
      margin-top: 14px;
    }
  }
}

.nav__link {
  color: #fff;
}

.copyright {
  font-size: 1rem;
  margin-top: 19px;
  span {
    margin-left: 14px;
    @include mq(sm){
      margin-left: 0;
    }
  }
  @include mq(sm){
    line-height: 1.5em;
  }
}
